<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Watch Bidding System{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">
</head>

<body>
    <!-- Header Section -->
    <header>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="#" class="logo">Watch Bidding</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'add_watch' %}">List Item</a></li>
                    <li><a href="{% url 'list_watches' %}">Bid Item</a></li>
                    <li><a href="{% url 'user_profile' %}">My Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main Content Section -->
    <section class="main-content">
        {% block content %}{% endblock %}
    </section>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <p>&copy; 2024 My Website. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
