{% extends 'base.html' %}
{% load static %}

{% block title %}
Home - Watch Bidding System
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to Watch Bidding</h1>
    <p>A platform to bid on exclusive watches</p>
</div>
<div class="container1">
    <div class="buttons">
        <a href="{% url 'add_watch' %}" class="btn">List Item</a>
        <a href="{% url 'list_watches' %}" class="btn btn-bid">Bid Item</a>
    </div>
    <!-- Featured Watches -->
    <div class="featured_watches">
        {% for watch in top_watches %}
            <div class="watch-card">
                <img src="{{ watch.image.url }}" alt="{{ watch.name }}">
                <h3>{{ watch.name }}</h3>
                <p>{{ watch.description }}</p>
                <p>Current Bid: ${{ watch.current_bid }}</p>
                <a href="{% url 'place_bid' watch.id %}" class="btn">Place a Bid</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'myapp/css/home.css' %}">
{% endblock %}
